.navbar{
    background-color: #FF2A00 !important;
}

.logout-button{
    background-color: #ff00f7;
    border:#ff00f7;
}

.heading-title {
    color: #000000;
    font-size: 88px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: -4px;
    align-items: center;
}

.spaced-top-5 {
    margin-top: 5em;
}

.spaced-top-2 {
    margin-top: 2em;
}

.btn-custom {
    font-weight: bold;
    background-color: #ff8c00;
    padding: 10px 40px;
    border: 2px solid #ff8c00;
    color: #822739;
}

.btn-custom:hover {
    background-color: #FFFFFF;
    color: #822739;
}#ff8c00

.btn-custom-reverse {
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid #87160e;
    color: #87160e;
}

.btn-custom-reverse:hover {
    background-color: #ff8c00;
    color: #523b3b;
}

.brand-logo {
    color: #2A2782;
    font-size: 1.6em;
    font-weight: bold;
}