{% extends "CSapp/base.html" %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col">
            <img src="{{ product.image.url }}" alt="{{ product.name }} Image" class="img-fluid">
        </div>
        <div class="col">
            <div class="row">
                <h5 class="card-title">{{ product.name }} | <span class="text-success">Available: {{product.available_quantity}}</span></h5>
                <h5 class="card-title text-danger">Price: {{ product.price }}</h5>
                <p class="card-text"><p> {{product.description}}</p>
                <p class="card-text"><p>Materials: {{product.materials}}</p>
                <p class="card-text"><small class="text-muted">Rarity: {{ product.rarity }} </small></p>
            </div>
            {% if user %}
                <a href="{% url 'CSapp:add_to_cart' product_id=product.id %}">
                    <button class="btn-custom-reverse spaced-top-2">Add to cart</button>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}